/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
*{
  font-family: 'Quicksand', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(#134d71 12%, #78a7c6, #f7e4bf);
}

h1 {
  color: #ffffff;
  text-align: center;
  margin: 40px 0px 80px;
}

h2 {
  color: #ffffff;
  text-align: center;
  margin: 50px 0px 10px;
}

input {
  cursor: pointer;
}

label {
}

section {
  margin: auto;
}

.select-box {
  height: 110px;
  width: 600px;
  background-color: #ffffff;
  margin: auto;
  border-radius: 10px;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.selection {
  padding: 20px 90px;
  margin: 5px 0px 0px;
}

.button {
  display: flex;
}

.receive-msg {
  background-color: #134d71;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 30px;
  margin: auto;
  cursor: pointer;
}

.result-box {
  display: grid;
  height: 125px;
  width: 700px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 10px;
}

.delete-msg {
  background-color: #134d71;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px 30px;
  margin: auto;
  cursor: pointer;
}

div {

}

img {
  height: 70px;
  margin: auto;
  padding-top: 20px;
}

.results-box {
  margin: auto;
}

.hidden {
  display: none!important;
}

.center {
  margin: auto;
}
